@font-face {
    font-family: 'Aref Ruqaa', serif;
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css?family=Aref+Ruqaa");
}

.img-circle {
    border-radius: 50%;
}

a {
    text-decoration: none
}

p {
    border-style: double;
    border-color: rgb(119, 11, 11);
    border-width: 9px;
}

a:hover {
    text-decoration: underline;
    background-color: rgb(231, 255, 112);
}

li {
    color: rgb(48, 42, 130);
    font-family: 'Aref Ruqaa';
    font-style: italic;
}

table, th, td {
    border: 7px slategray;
}

td {
    color: black;
    font-style: italic;
}

tr {
    font-style: italic;
}

tbody tr:nth-child(even) {
    background-color: rgb(179, 189, 206);
}

tbody tr:nth-child(odd) {
    background-color: rgb(65, 104, 168);
}

div .warning {
    font-style: normal;
    color: navy;
}

h1 {
    color: rgb(204, 22, 22);
    font-family: 'Aref Ruqaa';
    border-width: 6px;
    border-style: dotted;
    border-color: rgb(99, 2, 2);
}

body {
    background-color: rgb(193, 184, 184);
}

