.panel {
    color: cornflowerblue;
    text-decoration: underline;
    font-weight: 900;
    margin-top: 25px;
}

.panel-body {
    background-color: rgb(218, 225, 237);
}

h1 {
    color: teal;
    border: 3px;
    border-style: double;
    border-color: forestgreen;
    margin-bottom: 20px;

}

label {
    color: firebrick;
}

.button {
    margin-top: 15px;
    color: lightskyblue;
}

.row {
    color: darkred;

}



