/* unvisited link */
a {
    color: red;
    text-decoration: underline;
}

/* visited link */
a:visited {
    color: orange;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    font-weight: bold;
}

/* selected link */
a:active {
    text-decoration: none;
    color: purple;
}

p {
    color: maroon;
}

td {

    color: rgb(122, 12, 12);
}

@font-face {
    font-family: 'Arvo', serif;
    font-style: italic;
    font-weight: 400;
    src: url("https://fonts.google.com/specimen/Arvo?selection.family=Arvo");
}

h1 {
    color: darkred;
    font-family: 'Arvo';
    text-shadow: 4px 4px 4px #aaa;
    border-style: double;
    border-color: rgb(122, 58, 69);
    border-width: 5px;
}

h4 {
    font-size: larger;
    color: black;
}

.table-bordered {
    background-color: rgb(216, 169, 169);
}

.front-page {
    background-color: rgb(239, 190, 98);
}

@font-face {
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    src: url("https://fonts.google.com/specimen/Exo+2?selection.family=Exo+2:800");
}

.form-labels {
    font-family: 'Exo 2';
    background-color: rgb(233, 247, 145);
}

.active {
    text-decoration: overline;

}

.carousel-text {
    font-weight: bold;
    text-decoration: none;
    color: rgb(124, 44, 44);
    background-color: rgb(170, 178, 191);
    border-style: dotted;
    border-width: 2px;
    border-color: rgb(119, 19, 19);
}

noscript p {
    color: red;

}








